.flight-details-response-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 490px;
  width: 400px;
  text-align: center;
  p {
    margin: 10px;
  }
}

.flight-directions-header {
  padding: 0 30px;
  font-size: 13px;
}

.flight-header {
  margin-bottom: 25px !important;
}

.welcome-name {
  text-align: center;
  margin: 20px;
}


@media only screen and (max-width: 460px) {

  .flight-details-response-container {
    width: 300px;
    top: 460px;
    p {
      font-size: 12px;
    }
  }

  .flight-directions-header {
    font-size: 11px;
    padding: 0;
  }

}

@media only screen and (max-width: 375px) {

  .flight-details-response-container {
    width: 250px;
    top: 460px;
  }

  .flight-directions-header {
    font-size: 11px;
    padding: 0;
  }

}
