$teal: #06D6A0;

.homepage-button {
  background-color: transparent;
  margin: 20px;
  font-size: 18px;
  border: 2px solid $teal;
  padding: 10px;
  min-width: 100px;
  border-radius: 2px;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    opacity: 0.7;
  }
}

.homepage-container {
  height: 100vh;
  min-height: 800px;
  position: relative;
  background:
    url('../assets/flight_background_2.jpg'),
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.homepage-logo {
  width: 80px;
  margin: 10px;
}

.intro-container {
  z-index: 1;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  top: 150px;
  left: 0;
  right: 0;
  position: absolute;
  h2 {
    font-weight: 300;
    font-size: 52px;
  }
}

@media only screen and (max-width: 768px) {

  .intro-container {
    h2 {
      font-size: 36px;
    }
  }

  .homepage-logo {
    width: 65px;
  }

}

@media only screen and (max-width: 460px) {

  .intro-container {
    h2 {
      font-size: 28px;
    }
  }

  .homepage-logo {
    width: 55px;
    margin: 0;
  }

}

@media only screen and (max-width: 375px) {

  .intro-container {
    h2 {
      font-size: 24px;
    }
  }

  .homepage-logo {
    width: 50px;
    margin: 0;
  }

}
