$teal: #06D6A0;
$fb-blue: #4267b2;

.email-option {
  font-size: 14px;
  margin-top: 15px;
  color: gray;
}

.facebook-login-button {
  width: 305px;
  background-color: $fb-blue;
  color: white;
  border: 1px solid $fb-blue;
  border-radius: 2px;
  height: 33px;
  font-size: 14px;
}

.app-content-header {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
}

.input-req {
  color: gray;
  font-size: 12px;
  margin: 10px;
  text-align: center;
}

.submit-button {
  width: 310px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $teal;
  border-radius: 2px;
  color: $teal;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 20px;
}


