@import 'homepage';
@import 'login_signup';
@import 'flightspage';

$teal: #06D6A0;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app-content-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px 10px;
}

.app-content-header {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
}

.app-content-outer-wrapper {
  position: relative;
}

.app-input {
  display: block;
  margin: 20px auto;
  margin: 20px auto;
  width: 307px;
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.bold {
  font-weight: 700;
}

.cursive {
  font-family: 'Pacifico', cursive;
}

.input-group {
  width: 305px;
  margin: auto;
  margin-bottom: 20px
}

.input-req {
  color: gray;
  font-size: 12px;
  margin: 10px;
  text-align: center;
}

.logo-small {
  width: 30px;
  margin-right: 12px;
  margin-bottom: 10px;
}

.user-error {
  color: red;
  font-size: 12px;
}


@media only screen and (max-width: 460px) {

  .app-content-container {
    width: 300px;
    margin-bottom: 30px;
  }

  .app-content-header {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .app-input {
    width: 256px;
    font-size: 12px;
  }

  .input-group {
    width: 255px;
  }

  .input-req {
    font-size: 10px;
  }

}

@media only screen and (max-width: 375px) {

  .app-content-container {
    width: 250px;
    margin-bottom: 30px;
  }

  .app-content-header {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .app-input {
    width: 206px;
    font-size: 12px;
  }

  .input-group {
    width: 205px;
  }

  .input-req {
    font-size: 10px;
  }

}


